/* ******** icon 自定义 ********* */
.icon-sm {
  font-size: 0.8rem;
}
.icon-lg {
  font-size: 1.8rem;
}

.icon-red {
  font-weight: bold;
  color: var(--red);
}
/* ********************* */
.cartWrapper {
  width: 100%;
  margin: 0 auto;
}
.cartWrapper .product_total_num_in {
  color: #f40;
}
.cartWrapper .cart-p {
  color: #f40;
}
.cartWrapper .settlement {
  outline: none;
}
.cartWrapper .settlement:hover {
  background: #f40;
  outline: none;
}

/* ********* 表头 *********** */
.cartWrapper .header {
  margin: 0 auto;
}
.cartWrapper .header .nav-info {
  width: 100%;
  background: #f7f4f4;
}
.cartWrapper .header .nav-info a {
  font-size: 12px;
}
.shoprooo-welcome {
  font-weight: bold;
  color: var(--red) !important;
}
.user-name {
  font-weight: bold;
}

.shoprooo-logo {
  overflow: hidden;
  text-align: center;
}

.shoprooo-logo img {
  padding-top: 10px;
  width: 70%;
}

.shoppingCart-title {
  text-align: center;
  font-size: 2rem;
  margin-top: 30px;
  color: var(--red);
}

.search-info {
  margin-top: 35px;
}

.search-info .research-input {
  width: 70% !important;
  outline: none;
  border: 1px solid #d90d19;
  border-radius: 0;
}
.search-info .btn {
  color: #fff;
  background-color: var(--red);
  text-align: center;
  align-items: center;
  border-radius: 0;
}

/* *************** */

/* ******* checkbox 自定义 ******** */

input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
  vertical-align: center;
  background: #fff;
  border: 1px solid var(--red);
  position: relative;
}

input[type="checkbox"]:checked::after {
  content: "\2713";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-bottom: 9px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  border: 1px solid var(--red);
  background-color: var(--red);
  color: var(--white);
  font-size: 12px;
  font-weight: 900;
  -webkit-appearance: none;
}

/* *************** */
.main-cart {
  /* margin-top: 20px; */
}
.main-cart a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
}
.cart-title {
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #dedede;
}
.cart-title .active {
  color: #f40;
  border-bottom: 2px solid #f40;
}
.cart-title ul {
  display: flex;
  width: 40%;
}
.cart-title ul li {
  font-size: 18px;
  height: 40px;
  font-weight: 600;
}
.cart-title ul li a {
  display: block;
  width: 120px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.cart-title ul li a span {
  display: inline-block;
  padding-left: 10px;
  font-weight: normal;
}
.cart-title ul li:hover {
  color: #f40;
  border-bottom: 2px solid #f40;
}
.cart-title ul li:first-child a {
  border-right: 1px solid #dedede;
}
.cart-title ul li:nth-child(2) a {
  border-right: 1px solid #dedede;
}
.cart-title .chooseP {
  height: 40px;
}
.cart-title .chooseP span {
  font-size: 12px;
  display: inline-block;
  padding-right: 10px;
}
.cart-title .chooseP .account {
  color: #f40;
  width: 30px;
}
.cart-title .chooseP input {
  width: 60px;
  border: 1px solid #dedede;
  background: #dedede;
  border-radius: 3px;
  margin-left: 10px;
  font-size: 14px;
  color: #fff;
  /* height: 30px; */
  line-height: 30px;
}

.shopping-cart {
  /* padding-right: 5%;
  padding-left: 5%; */
}
input[type="checkbox"] {
  display: inline-block;
  margin-right: 10px;
}
.shopping-cart-title {
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #333;
  text-align: center;
}
.title_1,
.title_2,
.title_4,
.title_5,
.title_6,
.title_3 {
  font-size: 1rem;
}

.shopping-cart-title .title_1 {
  width: 5%;
}
.shopping-cart-title .title_2 {
  width: 20%;
  font-size: 14px;
}
.shopping-cart-title .title_5 {
  width: 5%;
}
.shopping-cart-title .title_6 {
  width: 9%;
}

.item {
  background-color: var(--grey);
  border-radius: 5px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.shopInfo {
  font-size: 1.2rem;
  color: #333;
  height: 50px;
  overflow: hide;
  line-height: 35px;
}

.shopInfo a {
  font-size: 1rem;
}

.cart_checkbox {
  padding-top: 20px;
}

.item-img {
  width: 100px;
  text-align: center;
  padding: 5px;
  border: 1px solid var(--white);
  border-radius: 5px;
  background-color: var(--white);
  margin-right: 5px;
}
.item-img img {
  width: 100%;
  overflow: hidden;
}

.item-detail {
  display: flex;
}

.item-name {
  padding: 5px;
  text-align: center;
}

.item-name a {
  font-size: 1rem;
}
.item-type {
  background-color: var(--white);
  border: 1px dashed var(--black);
  padding: 5px;
  cursor: pointer;
  width: 150px;
  font-size: 0.8rem;
  text-align: center;
}

.shopping-cart-item {
  /* border: 1px solid #dedede; */
}
.shopping-cart-item .cart_td_4 {
  color: #bdb4b4;
  transition: border 1s ease-in 1s;
}
.shopping-cart-item .cart_td_4_w {
  transition: border 0.5s ease-in;
}
.shopping-cart-item .cart_td_4_w span {
  display: block;
  text-align: left;
  padding-top: 5px;
}
.shopping-cart-item .cart_td_4_w .change {
  display: block;
  float: right;
  position: relative;
  top: -30px;
  display: none;
}
.shopping-cart-item .cart_td_4_w:hover {
  border: 1px dashed #f40;
}

/* 数量按钮 */
.change-goods-num {
  width: 250px;
  /* margin-left: 5px; */
}
.change-goods-num .num-reduce.disabled,
.change-goods-num .num-add.disabled {
  background: #eaeaea;
  color: #ccc;
}
.change-goods-num .num-reduce.pressed:hover,
.change-goods-num .num-add.pressed:hover {
  background: #fff;
  color: var(--red);
  border: 1px solid var(--red);
}

.num-reduce {
  width: 35px;
  height: 25px;
  /* line-height: 33px; */
  font-weight: 700;
  color: #a1a1a1;
  text-align: center;
  text-decoration: inherit;
  border: 1px solid #dadada;
  border-radius: 3px 0 0 3px;
  float: left;
}

.input-num {
  border-top: 1px solid #dadada;
  border-right: 0;
  border-bottom: 1px solid #dadada;
  border-left: 0;
  outline: 0;
  width: 45px;
  height: 25px;
  /* line-height: 35px; */
  text-align: center;
  float: left;
}

.num-add {
  width: 35px;
  height: 25px;
  /* line-height: 33px; */
  font-weight: 700;
  color: #a1a1a1;
  text-align: center;
  text-decoration: inherit;
  border: 1px solid #dadada;
  border-radius: 0 3px 3px 0;
  float: left;
}

.num-reduce i,
.num-add i {
  font-weight: bold;
  /* font-size: 1.4em; */
}

/* ********** */

.shopping-cart-item .cart_td_5,
.shopping-cart-item .cart_td_7 {
  font-weight: bold;
  padding-top: 20px;
}
.cart_td_6,
.cart_td_8 {
  padding-top: 20px;
}
.shopping-cart-item .cart_td_6 .cart_td_6_bg {
  display: block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #dedede;
}
.shopping-cart-item .cart_td_6 .cart_td_6_bg input {
  height: 26px;
  line-height: 26px;
  width: 50%;
  text-align: center;
}
.shopping-cart-item .hand:hover {
  cursor: pointer;
}
.product_end {
  align-items: center;
  font-size: 12px;
  margin-top: 10px;
}
.product_end span {
  display: inline-block;
}
.product_end #deleteAll {
  display: inline-block;
  width: 40px;
  margin-left: 20px;
}
.product_end #deleteAll:hover {
  color: #f40;
}
.product_end .settlement {
  right: 20%;
  width: 60px;
  height: 100%;
  border: 1px solid #dedede;
  background: #dedede;
  border-radius: 3px;
  margin-left: 10px;
  font-size: 14px;
  color: #fff;
  height: 30px;
}
.product_end .settlement:hover {
  background: #f40;
}
