.footer {
  margin-top: 5%;
  background-color: var(--grey);
}

.advantage {
  background-color: #fff;
  border-top: 1px solid var(--grey);
}

.advantage-col {
  margin: 20px 0;
}
.advantage-a {
  display: inline-block;
  margin-left: 50px;
}

.advantage-pic {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  color: var(--red);
  font-size: 22px;
  font-weight: 900;
  border: 3px solid var(--red);
  border-radius: 50%;
  padding-left: 5px;
}

.advantage-hd {
  display: block;
  font-weight: 900;
  font-size: 18px;
}

.advantage-text {
  display: block;
  color: #ccc;
  font-weight: bold;
}

.footer-description {
  padding: 2% 0;
}

.footer-description-content {
}

.footer-description-hd {
  font-size: 20px;
  font-weight: bold;
}

.footer-description-content span {
  display: block;
}

.footer-description-content a {
  color: #555;
  text-decoration: none;
}
