a:hover {
  color: var(--red);
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

:root {
  --white: #fff;
  --red: #d9001b;
  --orange: #f79526;
  --blue: #02a7f0;
  --green: #70b603;
  --yellow: #f7f126;
  --grey: #f5f5f5;
  --black: #555;
}
/* ***** iconfont ***** */
.star {
  color: #fdad0c;
  font-size: 0.9rem !important;
}
.service {
  color: var(--red);
}

/* ************ 导航模块 ***************** */
.shoprooo-nav {
  background-color: var(--grey);
}
.shoprooo-nav-ul {
  /* padding-left: 150px; */
}

.shopping-cart-num {
  color: #f40;
}

.shoprooo-logo {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.shoprooo-logo img {
  padding-top: 10px;
  width: 50%;
}

.shoprooo-searchBar {
  padding-top: 20px;
}

.form-control {
  width: 80% !important;
}

.search-btn {
  background-color: var(--red);
  color: var(--white);
}
/* **************** 导航模块结束 ******************** */

/* **************** 类别模块 ******************** */

.shoprooo-catagories {
  border-bottom: 1px solid var(--red);
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

.catagories-all {
  background-color: var(--red);
  color: var(--white);
  cursor: pointer;
}

.shoprooo-catagories ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}

.shoprooo-breadcrumbs {
  display: flex;
  margin-top: 10px;
  font-size: 1.1rem;
}

.breadcrumbs-head {
  font-weight: bold;
  font-size: 1.5rem;
  color: #555;
  margin-right: 5px;
  cursor: pointer;
}

.breadcrumbs-path {
  margin-right: 5px;
  margin-top: 5px;
  align-items: center;
}

.breadcrumbs-item-a,
.breadcrumbs-item-b {
  margin-right: 5px;
  margin-top: 5px;
  align-items: center;
  border: 1px solid var(--grey);
  padding: 0 5px;
  cursor: pointer;
}

.breadcrumbs-item-active {
  border: 1px solid var(--red);
  border-bottom: 1.2px solid var(--white);
  z-index: 999;
}

/* **************** 类别模块结束 ******************** */

/* **************** 产品详情 *********************** */
.item-head {
  margin-top: 20px;
}
.item-detail-imgL {
  width: 90%;
  overflow: hidden;
  box-shadow: 0 0 5px #ccc;
  margin: 0 auto;
}

.item-detail-imgL img {
  width: 100%;
}

.item-detail-imgS {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  align-items: center;
}

.item-detail-imgS ul {
  display: flex;
  padding-left: 0;
  justify-content: space-around;
}
.item-detail-imgS > ul > li {
  width: 20%;
  box-shadow: 0 0 5px #ccc;
  margin-right: 5px;
}

.item-detail-imgS img {
  width: 100%;
}
.item-detail-imgS img:hover {
  border: 1px solid var(--red);
}

.item-detail-imgS span {
  padding-top: 5%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ccc;
  cursor: pointer;
}

.item-detail-code {
  color: #999;
  text-align: center;
}
.item-detail-code a {
  margin-left: 10px;
}

.item-detail-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #555;
  margin-top: 10px;
}

.item-detail-subTitle {
  color: var(--red);
  margin-top: 5px;
}

.item-detail-price {
  margin-top: 5px;
  padding: 20px;
  background: url("../images/item-price.jpg") no-repeat;
  background-position: 20% 65%;
}

.item-detail-price span {
  color: var(--red);
}

.item-detail-service {
  margin-top: 10px;
}

.item-detail-limit {
  margin-top: 10px;
  color: var(--red);
}

.item-detail-delivery {
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.item-detail-model {
  margin-top: 10px;
}

.item-detail-models {
  border: 1px solid #ccc;
  padding: 5px;
  display: inline-block;
  margin-bottom: 5px;
}

.item-detail-models:hover {
  border: 1px solid var(--red);
  cursor: pointer;
}

.item-detail-quantity {
  margin-top: 10px;
  display: flex;
}

.item-detail-quantity span {
  color: var(--green);
}

/* 数量按钮 */
.change-goods-num {
  /* width: 250px; */
  margin-left: 5px;
}
.change-goods-num .num-reduce.disabled,
.change-goods-num .num-add.disabled {
  background: #eaeaea;
  color: #ccc;
}
.change-goods-num .num-reduce.pressed:hover,
.change-goods-num .num-add.pressed:hover {
  background: #fff;
  color: var(--red);
  border: 1px solid var(--red);
}

.num-reduce {
  width: 35px;
  height: 25px;
  /* line-height: 33px; */
  font-weight: 700;
  color: #a1a1a1;
  text-align: center;
  text-decoration: inherit;
  border: 1px solid #dadada;
  border-radius: 3px 0 0 3px;
  float: left;
}

.input-num {
  border-top: 1px solid #dadada;
  border-right: 0;
  border-bottom: 1px solid #dadada;
  border-left: 0;
  outline: 0;
  width: 45px;
  height: 25px;
  /* line-height: 35px; */
  text-align: center;
  float: left;
}

.num-add {
  width: 35px;
  height: 25px;
  /* line-height: 33px; */
  font-weight: 700;
  color: #a1a1a1;
  text-align: center;
  text-decoration: inherit;
  border: 1px solid #dadada;
  border-radius: 0 3px 3px 0;
  float: left;
}

.num-reduce i,
.num-add i {
  font-weight: bold;
  /* font-size: 1.4em; */
}

.item-detail-addCart {
  margin-top: 20px;
  align-items: center;
}

.item-detail-btn {
  color: var(--red);
  background: var(--white);
  padding: 5px 10px;
  border: 1px solid var(--red);
  border-radius: 2px;
}

.item-detail-btn1 {
  margin-left: 2%;
  color: var(--white);
  background: var(--red);
  padding: 5px 10px;
  border: 1px solid var(--red);
  border-radius: 2px;
}

.item-detail-btn:hover {
  filter: alpha(Opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

.item-detail-btn1:hover {
  filter: alpha(Opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

/* *** 产品主内容 ***** */
.item-mainSection {
  margin-top: 20px;
}

/* *** 店铺名称模块 *** */
.shopBrand {
  border: 1px solid #ccc;
}

.shopBrand-head {
  background-color: var(--grey);
  color: #555;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10%;
  font-weight: bold;
}

.shopBrand-content {
  margin: 10px 10%;
}

.shopBrand-content ul {
  display: flex;
}

.shopBrand-content li {
  color: #999;
  margin: 15px 7px 0 0;
}

.shopBrand-point {
  color: var(--red);
}

.shopBrand-btn {
  margin: 15px auto;
}

.enterShop {
  text-decoration: none;
  border: 1px solid #333;
  background-color: #333;
  color: var(--white);
  padding: 5px;
}

.favShop {
  text-decoration: none;
  border: 1px solid #333;
  background-color: var(--white);
  color: #333;
  padding: 5px;
}

/* ****** 已购买商品模块 ****** */

.purchasedItem {
  margin: 10px auto;
  border: 1px solid #ccc;
}

.purchasedItem-head {
  background-color: var(--grey);
  color: #555;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10%;
}

.purchasedItem-list {
  margin: 10px auto;
  text-align: center;
}
.purchasedItem-list img {
  padding: 5px;
  width: 80%;
}

.purchasedItem-list-des {
  text-align: left;
  font-size: 0.8rem;
  padding-left: 10%;
  padding-right: 10%;
}

.purchasedItem-list span {
  color: var(--red);
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

/* **** 产品详细介绍及评价 **** */

.item-content {
  border: 1px solid #ccc;
}

.item-content-head {
  position: relative;
  background-color: var(--grey);
  color: #555;
  display: inline-block;
  width: 100%;
}

.item-content-head ul {
  display: inline-block;
}
.item-content-head li {
  width: 100px;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
}

.item-active {
  position: relative;
  border-top: 2px solid var(--red);
  border-left: 1px solid var(--grey);
  margin: -1px 0 0 0;
  background-color: var(--white);
}

.item-content-head .item-active::after {
  content: " ";
  display: block;
  border-width: 5px;
  border-style: solid;
  border-color: var(--red) transparent transparent;
  width: 0;
  height: 0;
  font-family: arial;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -5px;
}
.item-active a {
  color: var(--red);
}

.item-content-addCart {
  float: right;
  /* padding: 5px; */
}

.item-content-addCart span {
  color: var(--red);
  font-weight: bold;
}

.item-content-btn {
  margin: 5px 5px 0;
  color: var(--white);
  background-color: var(--red);
  border: 1px solid var(--red);
}

.item-content-btn:hover {
  color: var(--red);
  background-color: var(--white);
}
.item-description {
  width: 100%;
  text-align: center;
}

.item-description-img img {
  width: 100%;
}

/* ***** 商品评价模块 ***** */
.item-comments {
  display: none;
}

.item-comments-content {
  position: relative;
}

.item-comments-content .item-active::after {
  content: " ";
  display: block;
  border-width: 5px;
  border-style: solid;
  border-color: var(--red) transparent transparent;
  width: 0;
  height: 0;
  font-family: arial;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -5px;
}
.item-comments-head {
  background-color: var(--grey);
  margin: 10px;
  padding: 5px;
}

.item-comments-content ul {
  display: flex;
  justify-content: flex-start;
  background-color: var(--grey);
  margin: 10px;
  text-align: center;
}

.item-comments-content li {
  width: 100px;
  padding: 5px 10px;
  cursor: pointer;
}

.reviews-all,
.reviews-praise {
  display: flex;
  margin: 10px;
  padding-bottom: 10px;
  color: var(--black);
  border-bottom: 2px solid var(--grey);
}

.customer-name {
  width: 100px;
  text-align: center;
}

.bigS {
  color: var(--red);
  font-size: 2rem;
  font-weight: bold;
}

.customer-ratings,
.customer-review-content,
.item-type,
.purchased-date {
  padding-top: 10px;
}

.reviews-comment,
.reviews-bad {
  height: 140px;
  margin: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #ccc;
  padding: 10px;
}

.reviews-praise,
.reviews-comment,
.reviews-bad {
  display: none;
}

/* ************* 产品详情结束 ********************** */

/* ******************* 页面浮窗 ******************** */
.breadcrumbs-item-list-a,
.breadcrumbs-item-list-b {
  /* width: 250px; */
  padding: 5px;
  color: #000;
  position: absolute;
  background-color: #fff;
  border: 1px solid var(--red);
  display: none;
  z-index: 0;
}

.breadcrumbs-item-list-a ul,
.breadcrumbs-item-list-b ul {
  display: flex;
  justify-content: space-around;
}

.breadcrumbs-item-list-a li,
.breadcrumbs-item-list-b li {
  padding: 0 10px;
}

.catagories-list {
  background-color: #424242;
  color: var(--white);
  width: 190px;
  position: absolute;
  z-index: 999;
  display: none;
  padding: 10px 2%;
}

.catagories-list a {
  color: var(--white);
}

.catagories-list a:hover {
  color: var(--red);
}

.catagories-list-content {
  margin-bottom: 10px;
}

/* **************** 页面浮窗结束 ******************* */

/* **************** 响应式 ******************* */
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .catagories-list {
    width: 160px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .catagories-list {
    width: 120px;
  }
  .catagories-list h4 {
    font-size: 1.1rem;
  }
  .catagories-list a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .item-detail-imgL {
    width: 100%;
  }
  .item-detail-code {
    margin-top: 10px;
  }
  .item-detail-title {
    margin-top: 0;
  }
  .item-detail-subTitle {
    margin-top: 0;
  }

  .item-detail-price {
    padding: 10px 20px;
  }
  .item-detail-service {
    margin-top: 0;
  }
  .item-detail-limit {
    margin-top: 0;
  }
  .item-detail-delivery {
    margin-top: 0;
    padding-bottom: 5px;
  }
  .item-detail-quantity {
    margin-top: 0;
  }
  .item-detail-addCart {
    margin-top: 5px;
  }
  .shoprooo-catagories {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .shoprooo-logo img {
    padding-top: 50px;
  }
  .catagories-hot {
    font-size: 55%;
  }
  .shoprooo-breadcrumbs {
    display: none;
  }

  .item-detail-models {
    margin-bottom: 5px;
  }

  .shopBrand {
    text-align: center;
  }

  .shopBrand-head {
    padding-left: 0;
  }

  .shopBrand ul {
    justify-content: space-around;
  }
}

@media screen and (max-width: 577px) {
  .shoprooo-searchBar {
    padding-top: 0;
  }
  .catagories-list {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .catagories-hot {
    font-size: 55%;
  }
  .catagories-hot > ul > li {
    padding: 2%;
  }
}

@media screen and (max-width: 375px) and (min-width: 320px) {
  .item-content-head li {
    padding: 2px 2px 5px;
  }
  .item-content-btn {
    margin: 0;
  }
}

@media screen and (max-width: 990px) {
  .shoprooo-searchBar {
    padding-top: 10px;
  }
}
